.page-header {
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
}

.page-header a.btn {
  display: none;
}

.page-header .project-tagline {
  margin-bottom: 1rem;
}

.main-content {
  margin-top: 8rem;
}

a {
  text-decoration: underline;
}

footer {
  display: none;
}
